body{
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.listCard{
    width: 400px;
    min-height: 300px;
    padding: 5%;
    margin: auto;
    color: white;
    background-color: #393e46;
    border-radius: 5%;

}

.display{
    display: flex;
    flex-direction: row;
    gap: 1;
}

.textField{
    margin-top: 10px;
    background-color: white;
    color: black;
    width: 40%;
    margin-bottom: 10px;
}

.button{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    color: black;
    width: 20%;   
}

.button2{
    margin-top: 20px;
    margin-right: 15px;
    color:black;
    background-color: lightgray;
    padding-right: 10px;
    padding-left: 10px;
   
}

